.sidepanel
    position: fixed
    top: 230px
    left: -25px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 210px
    z-index: 3
    &__divider
        width: 2px
        height: 70px
        background-color: $main-white
    &__text
        height: 25px
        width: 160px
        span
        display: block
        color: $main-white
        transform: rotate(-90deg) translate(-65px, 0)
        font-size: 17px
        line-height: 24px
        font-weight: bold
    &__link
        transition: 0.5s
        &_facebook
            &:hover
                transform: scale(1.6) rotate(90deg)
                // filter: drop-shadow(0 0 15px $main-white)
                svg path 
                    fill: #3b5998
        &_instagram
            &:hover
                transform: scale(1.6) rotate(90deg)
                filter: drop-shadow(0 0 10px $main-white)
                svg path 
                    fill: url(#GradInst)
        &_github
            &:hover
                transform: scale(1.6) rotate(90deg)
                filter: drop-shadow(0 0 10px $main-white)
                    