@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.promo {
  min-height: 75vh;
  position: relative;
  background: rgba(0, 0, 0, 0.45) url("../img/keyboard_bg.jpg") no-repeat 50%/cover;
  background-blend-mode: darken;
  padding-top: 205px;
}
.promo__tittle {
  width: 530px;
  margin-top: 10px;
}
.promo__subtittle {
  position: relative;
  z-index: 2;
  padding-left: 10px;
}
.promo__subtittle:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FD7013;
  border-radius: 100%;
  z-index: -1;
  top: -25%;
  left: 0;
}
.promo__btns {
  margin-top: 25px;
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-between;
}
.promo__link {
  color: #EEEEEE;
  text-decoration: none;
  font-weight: bold;
}
.promo__link:hover {
  color: #EEEEEE;
}

.tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  color: #EEEEEE;
}
.tittle__fz14 {
  font-size: 14px;
  line-height: 21px;
}
.tittle__fz16 {
  font-size: 16px;
  line-height: 24px;
  color: #EEEEEE;
}
.tittle__fz48px {
  font-size: 48px;
}

.btn {
  height: 25px;
  background: #FD7013;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 12px 25px;
  transition: 0.5s;
}
.btn:hover {
  transform: rotate(8deg) scale(1.05);
}

.sidepanel {
  position: fixed;
  top: 230px;
  left: -25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 210px;
  z-index: 3;
}
.sidepanel__divider {
  width: 2px;
  height: 70px;
  background-color: #EEEEEE;
}
.sidepanel__text {
  height: 25px;
  width: 160px;
  display: block;
  color: #EEEEEE;
  transform: rotate(-90deg) translate(-65px, 0);
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.sidepanel__link {
  transition: 0.5s;
}
.sidepanel__link_facebook:hover {
  transform: scale(1.6) rotate(90deg);
}
.sidepanel__link_facebook:hover svg path {
  fill: #3b5998;
}
.sidepanel__link_instagram:hover {
  transform: scale(1.6) rotate(90deg);
  filter: drop-shadow(0 0 10px #EEEEEE);
}
.sidepanel__link_instagram:hover svg path {
  fill: url(#GradInst);
}
.sidepanel__link_github:hover {
  transform: scale(1.6) rotate(90deg);
  filter: drop-shadow(0 0 10px #EEEEEE);
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #EEEEEE;
}
.hamburger span.long {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu__block {
  position: relative;
  width: 345px;
  background-color: #FD7013;
  height: 100%;
  padding-top: 140px;
  padding-left: 40px;
  transition: all 0.6s;
  z-index: 10;
}
.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.menu__list {
  list-style-type: none;
  padding-left: 35px;
}
.menu__link {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
  transition: 0.6s;
}
.menu__link::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 9px;
  width: 15px;
  height: 15px;
  border: 2px solid #EEEEEE;
  border-radius: 100%;
  transition: 0.5s;
}
.menu__link:hover::before {
  background-color: #EEEEEE;
  transform: scale(1.5);
  opacity: 0.9;
}
.menu__link a {
  color: #EEEEEE;
  text-decoration: none;
}
.menu__social {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222831;
  opacity: 0.75;
}/*# sourceMappingURL=style.css.map */