@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #393E46;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.divider {
  width: 60px;
  height: 0px;
  border: 3px solid #FD7013;
  margin-top: 25px;
  margin: 25px auto 0 auto;
}

.promo {
  min-height: 75vh;
  position: relative;
  background: rgba(0, 0, 0, 0.45) url("../img/keyboard_bg.jpg") no-repeat 50%/cover;
  background-blend-mode: darken;
  padding-top: 205px;
}
.promo__tittle {
  width: 530px;
  margin-top: 10px;
}
.promo__subtittle {
  position: relative;
  z-index: 2;
  padding-left: 10px;
}
.promo__subtittle:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FD7013;
  border-radius: 100%;
  z-index: -1;
  top: -25%;
  left: 0;
}
.promo__btns {
  margin-top: 25px;
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-between;
}
.promo__link {
  color: #EEEEEE;
  text-decoration: none;
  font-weight: bold;
}
.promo__link:hover {
  color: #EEEEEE;
}

.tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  color: #EEEEEE;
}
.tittle__fz14 {
  font-size: 14px;
  line-height: 21px;
  color: #EEEEEE;
}
.tittle__fz16 {
  font-size: 16px;
  line-height: 24px;
  color: #EEEEEE;
}
.tittle__fz20 {
  font-size: 20px;
  line-height: 30px;
}
.tittle__fz36 {
  font-size: 36px;
}
.tittle__fz48px {
  font-size: 48px;
}

.btn {
  height: 25px;
  background: #FD7013;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 12px 25px;
  transition: 0.5s;
}
.btn:hover {
  transform: rotate(8deg) scale(1.05);
}

.sidepanel {
  position: fixed;
  top: 230px;
  left: -25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 210px;
  z-index: 3;
}
.sidepanel__divider {
  width: 2px;
  height: 70px;
  background-color: #EEEEEE;
}
.sidepanel__text {
  height: 25px;
  width: 160px;
  display: block;
  color: #EEEEEE;
  transform: rotate(-90deg) translate(-65px, 0);
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.sidepanel__link {
  transition: 0.5s;
}
.sidepanel__link_facebook:hover {
  transform: scale(1.5) rotate(90deg);
}
.sidepanel__link_facebook:hover svg path {
  fill: #3b5998;
}
.sidepanel__link_instagram:hover {
  transform: scale(1.3) rotate(90deg);
  filter: drop-shadow(0 0 10px #EEEEEE);
}
.sidepanel__link_instagram:hover svg path {
  fill: url(#GradInst);
}
.sidepanel__link_github:hover {
  transform: scale(1.3) rotate(90deg);
  filter: drop-shadow(0 0 10px #EEEEEE);
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #EEEEEE;
}
.hamburger span.long {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu__block {
  position: relative;
  width: 345px;
  background-color: #FD7013;
  height: 100%;
  padding-top: 140px;
  padding-left: 40px;
  transition: all 0.6s;
  z-index: 10;
}
.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.menu__list {
  list-style-type: none;
  padding-left: 35px;
}
.menu__link {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
  transition: 0.6s;
}
.menu__link::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 9px;
  width: 15px;
  height: 15px;
  border: 2px solid #EEEEEE;
  border-radius: 100%;
  transition: 0.5s;
}
.menu__link:hover::before {
  background-color: #EEEEEE;
  transform: scale(1.5);
  opacity: 0.9;
}
.menu__link a {
  color: #EEEEEE;
  text-decoration: none;
}
.menu__social {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__social_github {
  transition: 0.6s;
}
.menu__social_github:hover {
  transform: scale(1.4) rotate(360deg);
}
.menu__social_github:hover svg path {
  fill: #000;
}
.menu__social_facebook {
  transition: 0.6s;
}
.menu__social_facebook:hover {
  transform: scale(1.4) rotate(360deg);
}
.menu__social_facebook:hover svg path {
  fill: #3b5998;
}
.menu__social_instagram {
  transition: 0.6s;
}
.menu__social_instagram:hover {
  transform: scale(1.4) rotate(360deg);
}
.menu__social_instagram:hover svg path {
  fill: url(#GradInst);
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222831;
  opacity: 0.75;
}

.aboutMe {
  padding-top: 120px;
}
.aboutMe__photo {
  grid-row: 1/3;
}
.aboutMe__photo img {
  width: 100%;
}
.aboutMe__wrapper {
  display: grid;
  grid-template-columns: 400px 670px;
  grid-template-rows: minmax(245px, auto) minmax(255px, auto);
  grid-auto-rows: minmax(245px, auto);
  column-gap: 70px;
  row-gap: 40px;
}
.aboutMe__tittle {
  position: relative;
  padding-left: 12px;
}
.aboutMe__tittle:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FD7013;
  border-radius: 100%;
  z-index: -1;
  top: -25%;
  left: 0;
}
.aboutMe__descr {
  padding-top: 6px;
}
.aboutMe__descr .divider {
  margin: 0;
}
.aboutMe__text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 21px;
  color: #EEEEEE;
}
.aboutMe__skills {
  display: grid;
  grid-template: repeat(2, minmax(115px, auto))/repeat(2, 260px);
  grid-auto-rows: 1fr;
  column-gap: 50px;
  row-gap: 20px;
}
.aboutMe__skills-item {
  display: grid;
  grid-template-columns: 40px 200px;
  column-gap: 20px;
}
.aboutMe__skills-circle {
  position: relative;
  padding: 15px 0 0 15px;
}
.aboutMe__skills-circle:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FD7013;
  border-radius: 100%;
  z-index: -1;
  top: -25%;
  left: 0;
}
.aboutMe__skills-circle::before {
  top: 0;
}
.aboutMe__skills-text {
  font-size: 12px;
  line-height: 18px;
  color: #EEEEEE;
}

.resume {
  padding-top: 120px;
}
.resume__tittle {
  position: relative;
  text-align: center;
}
.resume__tittle:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FD7013;
  border-radius: 100%;
  z-index: -1;
  top: -25%;
  left: 0;
}
.resume__tittle::before {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.resume__subtittle {
  text-align: center;
}
.resume__wrapper {
  padding: 60px 65px 0 65px;
  display: grid;
  grid-template-columns: repeat(2, 425px);
  column-gap: 135px;
}
.resume__col-tittle {
  position: relative;
  padding-left: 35px;
}
.resume__col-tittle::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FD7013;
  border-radius: 100%;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
}
.resume__col ul {
  list-style-type: none;
}
.resume__col ul li {
  position: relative;
}
.resume__col ul li::after {
  content: "";
  width: 1px;
  height: calc(100% + 8px);
  position: absolute;
  top: -8px;
  left: 0;
  background-color: #EEEEEE;
}
.resume__item {
  position: relative;
}
.resume__item::before {
  content: "";
  height: 1px;
  width: 45px;
  position: absolute;
  background-color: #EEEEEE;
  top: 43px;
}
.resume__item_head {
  position: relative;
  padding: 20px 0 0 100px;
}
.resume__item_body {
  padding-left: 43px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 18px;
  color: #EEEEEE;
}
.resume__item_icon {
  position: absolute;
  top: 25px;
  left: 45px;
}
.resume__item_icon:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FD7013;
  border-radius: 100%;
  z-index: -1;
  top: -25%;
  left: 0;
}
.resume__item_icon svg {
  position: absolute;
  left: 17px;
  top: 14px;
}
.resume__item-location {
  font-size: 14px;
  line-height: 18px;
  color: #EEEEEE;
}

.experience {
  padding-top: 120px;
}
.experience__tittle {
  position: relative;
  text-align: center;
}
.experience__tittle:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FD7013;
  border-radius: 100%;
  z-index: -1;
  top: -25%;
  left: 0;
}
.experience__tittle::before {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.experience__subtittle {
  text-align: center;
}
.experience__wrapper {
  padding: 60px 10px 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 270px);
  column-gap: 13px;
  row-gap: 13px;
}
.experience__wrapper_item {
  border: solid 2px;
  border-color: #EEEEEE;
}
.experience__wrapper_item:nth-child(4) {
  padding-top: 23px;
}
.experience__wrapper_item:nth-child(7) {
  padding-top: 19px;
}
.experience__wrapper_item_image {
  width: 100%;
  height: 100px;
}
.experience__wrapper_item svg {
  padding-top: 30px;
  padding-left: 30px;
}
.experience__wrapper_item h5 {
  padding-top: 5px;
  padding-left: 30px;
  color: #EEEEEE;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
.experience__wrapper_item_text {
  max-width: 210px;
  min-height: 100px;
  padding: 15px 30px 25px 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #EEEEEE;
}
.experience__ratings {
  margin-top: 120px;
  display: grid;
  grid-template: repeat(2, minmax(70px, auto))/repeat(3, 350px);
  column-gap: 45px;
  row-gap: 35px;
}
.experience__ratings-item {
  display: grid;
  grid-template: minmax(21px, auto) 14px/200px 35px;
  justify-content: space-between;
  align-content: space-between;
}
.experience__ratings-title {
  position: relative;
  padding: 2px 0 0 13px;
}
.experience__ratings-title:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FD7013;
  border-radius: 100%;
  z-index: -1;
  top: -25%;
  left: 0;
}
.experience__ratings-counter {
  font-size: 14px;
  line-height: 21px;
  color: #EEEEEE;
}
.experience__ratings-line {
  width: 350px;
  height: 14px;
  background-color: #E8E4DE;
  border-radius: 4px;
  grid-column: 1/3;
}
.experience__ratings-line span {
  display: block;
  height: 100%;
  background-color: #FD7013;
  border-radius: 4px;
}

.portfolio {
  padding-top: 120px;
}
.portfolio__tittle {
  position: relative;
  text-align: center;
}
.portfolio__tittle:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FD7013;
  border-radius: 100%;
  z-index: -1;
  top: -25%;
  left: 0;
}
.portfolio__tittle::before {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio__subtittle {
  text-align: center;
}
.portfolio__wrapper {
  margin-top: 60px;
  display: grid;
  grid-template: repeat(2, 280px)/repeat(4, 280px);
  grid-auto-rows: 280px;
  gap: 5px;
}
.portfolio__wrapper .vertical {
  grid-row: 1/3;
  grid-column: 4/5;
}
.portfolio__wrapper .horizontal {
  grid-row: 2/3;
  grid-column: 2/4;
}
.portfolio__item img {
  transition: 0.6s;
  width: 100%;
}
.portfolio__item img:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=style.css.map */